<h3 class="heading">{{category}} Articles</h3>
<div ng-controller="ArticlesCategoryCtrl">
  <div class="row">
    <a href="#/categories" class="link">Go Back</a>
    <div class="articles" ng-repeat="article in category_articles">
      <div class="col-md-12 article">
        <h4>{{article.title}}</h4>
        <p>{{article.body | limitTo:250}}</p>
        <a class="btn btn-default" href="#/article/{{article._id}}">Read Article</a>
      </div>
    </div>
    <div ng-if="articles==false">
      No Articles to display
    </div>
  </div>
</div>
